body {
  padding:10px;
}
.main.item {
  background-color:blue !important;
  color:white !important;
  padding:0px;
  margin:0px;
}
.header {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}
.header.counter {
  flex:1;
}
.menu {
  padding: 0px !important;
  margin: 0px !important;
  font-size: 30px !important;
}

ul {
  border-radius:10px;
  list-style-type: none;
}
li:hover {
  background-color:lightgrey;
}