<html>
  <head>
    <title>code day</title>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- semantic -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <!-- base imports -->
    <link href="/static/base.css" type="text/css" rel="stylesheet">
    <script src="/static/base.js"></script>
  </head>
  <body>
    {% block main %}
    {% endblock %}
  </body>
</html>