{% extends 'page.html' %}
{% block page %}
<h1>Deploy</h1>
<div class="ui form">
	<div class="field">
		<label>Function</label>
		<select id="funcIN" class="ui search dropdown">
			<option value="">Select Function</option>
			{% for function in functions %}
			<option value="{{function}}">{{function}}</option>
			{% endfor %}
		</select>
	</div>
	<div class="feild">
		<label>Arguments</label>
		<input id="argsIN">
	</div>
	<div id="runBTN" class="ui button">Deploy</div>
</div>

<div class="ui segment" id="outbox">
  <p id="out"></p>
  <p id="out"></p>
  <p id="out"></p>
  <p id="out"></p>
  <div id="waitingLoader" class="ui active dimmer">
    <div class="ui indeterminate loader"></div>
  </div>
  <div id="sendingLoader" class="ui active dimmer">
    <div class="ui loader"></div>
  </div>
</div>

{% endblock %}

