{% extends 'page.html' %}
{% block page %}
<h1>Deploy</h1>
<div class="ui form">
	<div class="field">
		<label>Function</label>
		<select id="funcIN" class="ui search dropdown">
			<option value="">Select Function</option>
			{% for function in functions %}
			<option value="{{function}}">{{function}}</option>
			{% endfor %}
		</select>
	</div>
	<div class="feild">
		<label>Arguments</label>
		<input id="argsIN">
	</div>
	<div id="runBTN" class="ui button">Deploy</div>
</div>
<h2>Result:</h2>
<pre class="shell" id="metaout"></pre>
<pre class="return" id="out"></pre>

{% endblock %}

