{% extends 'page.html' %}
{% block page %}
<h1>Your Functions:</h1>
<ul id="funclist">
	{% for function in functions %}
		<li>{{ function }}</li>
	{% endfor %}
</ul>
<a class="ui button" id="newfunc">New Function</a>


<div class="ui basic modal">
  <div class="ui icon header">
    <i class="server icon"></i>
    Add New Function
  </div>
  <div class="content">
    <div class="ui form">
    	<div class="feild">
    		<label>Function Name</label>
    		<input type="text">
    	</div>
    	<div class="feild">
    		<label>Function Name</label>
			<textarea id="functionBox"></textarea>
		</div>
	</div>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>

{% endblock %}