{% extends 'page.html' %}
{% block page %}
<h1>Your Functions:</h1>
<ul>
	{% for function in functions %}
		<li>{{ function }}</li>
	{% endfor %}
</ul>
<a class="ui button" id="newfunc">New Function</a>


<div class="ui basic modal">
  <div class="ui icon header">
    <i class="server icon"></i>
    Add New Function
  </div>
  <div class="content">
    <div class="ui form">
    	<div class="feild">
    		<label>Function Name</label>
    		<input id="nameIN" type="text">
    	</div>
    	<div class="feild">
    		<label>Function Content</label>
			<textarea id="functionIN"></textarea>
		</div>
	</div>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      Cancel
    </div>
    <div class="ui blue ok inverted button">
      <i class="checkmark icon"></i>
      Create
    </div>
  </div>
</div>

{% endblock %}